{% extends "base.html" %}

{% block content %}
    <h1 class="mb-4">Usuários Registrados</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuário</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.username }}</td>
                <td>
                    <a href="{{ url_for('admin_usuario', user_id=usuario.id) }}" class="btn btn-info btn-sm">Ver Checklist</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}