{% extends "base.html" %}

{% block content %}
    <h1 class="mb-4">Login</h1>
    <form action="{{ url_for('login') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="mb-3">
            <label for="username" class="form-label">Usuário</label>
            <input type="text" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
    <p class="mt-3">Não tem uma conta? <a href="{{ url_for('registrar') }}">Registre-se aqui</a>.</p>
{% endblock %}